.footer {
    background-color: var(--black);
    height: 451px;
    width:100%;
    margin: 23px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 1280px) {
    }
}